*{
    margin: 0;padding: 0;
    box-sizing: border-box;

}
body{
    background-color: antiquewhite;
    
}
#h1{
    display: none;
}
.button{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 20px ;
    cursor: pointer;
}
#btn1{
    background-color: red;
}
#btn2{
    background-color: blue;
}
#btn3{
    background-color: purple;
}
#btn4{
    background-color: green;
}