button{
   
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: inline-block;
    cursor: pointer;
    margin-top: 200px;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#purple{
    background-color: purple;
}
#green{
    background-color: green;
}
body{
    background-color: bisque;
}
