*{
    margin: 0;padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    margin-top: 30px;
    margin-right: 180px;
}
.boxes{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    

}
.box{
    height: 500px;
    width: 600px;
   
    margin-top: 70px;
    justify-content: center;
   

}
.box input{
    width: 400px;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
   
}
#add{
    width: 400px;
    height: 40px;
    background-color: green;
    border: 0;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;

}
#geri{
    width: 400px;
    height: 40px;
    background-color: red;
    border: 0;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}