*{
    margin: 0;padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#h1{
    display: none;
}
.div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.box{
    width: 790px;
    background-color: rgb(121, 255, 255);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;

}
.box input {
    width: 400px;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    margin: 10px auto;
    position: relative;
    left: 170px;
    
}
.box button{
    width: 200px;
    height: 40px;
    color:#fff;
    background-color: green;
    cursor: pointer;
    position: relative;
    top: 70px;
    right: 238px;
    border: 0;
    border-radius: 15px;
   
}
#infos{
    width: 300px;
    height: 300px;
    margin: 50px auto;
    border: 1px solid;
    text-align: center;
    line-height: 50px;
    display: none;

}

#skip{
    width: 120px;
    height: 40px;
    color: #fff;
    border: 0;
    background-color: red;
    cursor: pointer;
    
}
#addcar{
    width: 120px;
    height: 40px;
    color: #fff;
    border: 0;
    background-color: green;
    cursor: pointer;
}
h1{
    text-align: center;
    margin-top: 30px;
}
.text{
    margin-left: 130px;
}
.sign{
    position: relative;
   
    top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 

}
.sign{
    margin: 0 20px;
    width: 500px;
   
}
.sbutton{
   display: flex;
   align-items: center;
   justify-content: space-around;
    height: 40px;
    width: 160px;
    background-color: green;
    cursor: pointer;
    border-radius: 15px;
    color: #fff;
    position: relative;
}

