*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 55px;
    background-color: #191919;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
h2{
    margin: 1.6rem;
}
.user{
    margin: 1rem;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    color: #191919;
}
.links{
    color: aliceblue;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 20px;


}

.home{
    margin: 20px;
    width: 600px;
}
.active{
    background-color: red;
}
